@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Krona One', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #28102d;
}

.container {
  width: 1050px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .card {
  position: relative;
  width: 320px;
  height: 420px;
  margin: 15px;
  overflow: hidden;
}

.container .card span {
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0.95;
  background: #9c27b0;
  z-index: 1;
  transition: width 0.5s, height 0.5s;
}

.container .card:hover span {
  width: 1000px;
  height: 1000px;
}

.container .card .imgbx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container .card .imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.container .card .content div {
  padding: 40px;
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.4s;
}

.container .card:hover .content div {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}